*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}
img {
   vertical-align: top;
}
html,
body {
   height: 100%;
}
html {
   font-size: 16px; /* по умолчанию */
}
body {
   line-height: 1;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
}
.header h1 {
   text-align: center;
   color: seagreen;
   font-size: 25px;
   width: 500px;
   margin: 5px auto;
   background-color: skyblue;
   display: block;
}
.img {
   background-color: red;
   height: 500px;
   width: 800px;
   padding: 15px;
   margin: 5px auto;
   display: block;
   max-width: 100%;
}

.header p {
   background-color: sandybrown;
   padding: 10px 15px 20px 25px;
   margin: 20px 0px;
}
.cof {
   margin: 10px auto;
   max-width: 100px;
   background-color: seagreen;
   padding: 5px;
}
.cofe1 {
   display: inline-block;
   width: 200px;
   height: 200px;
   background-color: springgreen;
   overflow-y: auto;
   padding: 10px;
   margin: 15px 20px 15px;
}
.cofe2 {
   display: inline-block;
   width: 200px;
   height: 200px;
   background-color: skyblue;
   overflow-y: auto;
   padding: 10px;
   margin: 15px 20px 15px;
}
.h2r {
   font-size: 20px;
   text-align: center;
   background-color: thistle;
   width: 600px;
   height: 100px;
   margin: 25px auto;
   padding: 25px;
}
.h3w {
   background-color: tomato;
   margin: 0px 0px 0px 10px;
}
.lin {
   text-align: center;
}
.google {
   color: violet;
   display: inline-block;
   font-size: 25px;
   margin: 25px;

   background-color: teal;
}
.hello {
   display: block;
   margin: 20px auto;
   width: 100px;
   color: #0000ff;
   background-color: chartreuse;
   padding: 0px 0px 0px 25px;
}
.text1 {
   display: inline-block;
   width: 200px;
   height: 200px;
   background-color: darksalmon;
   overflow-y: auto;
   padding: 15px;
   margin: 0px 20px 20px 20px;
}
.text2 {
   display: inline-block;
   width: 200px;
   height: 200px;
   background-color: darkgoldenrod;
   overflow-y: auto;
   padding: 15px;
   margin: 0px 20px 20px 20px;
}
.text3 {
   display: inline-block;
   width: 200px;
   height: 200px;
   background-color: cornflowerblue;
   overflow-y: auto;
   padding: 15px;
   margin: 0px 20px 20px 20px;
}
.link {
   display: inline-block;
   margin: 0px 0px 30px 0px;
   color: red;
}
.p1 {
   background-color: skyblue;
   width: 100px;
   height: 200px;
   overflow-y: auto;
   display: inline-block;
}
.p2 {
   background-color: springgreen;
   width: 100px;
   height: 200px;
   overflow-y: auto;
   display: inline-block;
}
.p3 {
   background-color: violet;
   width: 100px;
   height: 200px;
   overflow-y: auto;
   display: inline-block;
}
.p4 {
   background-color: yellow;
   width: 100px;
   height: 200px;
   overflow-y: auto;
   display: inline-block;
}
.p1,
.p2,
.p3,
.p4 {
   margin: 0px 15px 0px;
   padding: 10px;
}
.tex1 {
   margin: 30px 0px 0px 0px;
   background-color: pink;

   padding: 30px;
}
.tex2 {
   padding: 30px;
   margin-top: -50px;
   background-color: seagreen;
}
.inline {
   margin: 30px 0px 0px 0px;
   background-color: sandybrown;

   max-height: 200px;
   display: inline-block;
   overflow-y: auto;
}
